@model IEnumerable<AtlasAddressBook.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>All Categories</h1>

    <a class="glass-button mt-1 mb-3" asp-controller="Categories" asp-action="Create">Create New</a>


    @foreach (var item in Model)
    {
        <div class="mb-3 glass-cf-style">
            <div class="row g-0">
                <div class="col-md-12">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => @item.Name) </h5>
                    <div class="card-text">Members: @Html.DisplayFor(modelItem => @item.User) </div>
                            
                </div>
            </div>
                <div class="mb-2 ms-2">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi-pencil-fill" style="font-size: 1.5rem; color: white"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi-card-list" style="font-size: 1.5rem; color: white"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi-trash-fill" style="font-size: 1.5rem; color: red"></i></a> 
                </div>
            </div>
        </div>
    }


