@using AtlasAddressBook.Models
@using AtlasAddressBook.Services.Interfaces
@model Contact
@inject IImageService _imageService
@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>Contact</h1>
    <!--address card-->
    <div class="glass-cf-style darkGlass p-2">
        <div class="row">
            <div class="col-12 col-md-4">
                 @if(! string.IsNullOrEmpty(Model.ImageType))
                {
                <img src="@_imageService.ConvertByteArrayToFile(Model.ImageData!, Model.ImageType!)" class=" img-fluid" alt="contact image">
                 }
                  else
                        {
                            <img class="rounded-circle" style="width:60px;height:60px;" src="/img/avatar_icon.png" alt="User Avatar Default Image">
                        }
                <div class="col-12 col-md-8">
                    <div class="row gy-2">
                        <div class="col-12 col-md-6">
                            <label for="FirstName" class="form-lablel"> First Name</label>
                            <input type="text" readonly class="form-control" id="FirstName" value="@Model.FirstName" />
                        </div>

                        <div class="col-12 col-md-6">
                            <label for="FirstName" class="form-lablel"> Last Name</label>
                            <input type="text" readonly class="form-control" id="LastName" value="@Model.LastName." />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="Email" class="form-lablel"> Email</label>
                            <input type="text" readonly class="form-control" id="Email" value="@Model.EmailAddress" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="FirstName" class="form-lablel"> Phone Number</label>
                            <input type="tel" readonly class="form-control" id="Phone" value="@Model.PhoneNumber" />
                        </div>
                        <div class="col-12">
                            <label for="Address1" class="form-lablel"> Address 1</label>
                            <input type="text" readonly class="form-control" id="Address1" value="@Model.Address1" />
                        </div>
                        <div class="col-12">
                            <label for="Address2" class="form-lablel"> Address 2 </label>
                            <input type="text" readonly class="form-control" id="Address2" value="@Model.Address2" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="City" class="form-lablel"> City</label>
                            <input type="text" readonly class="form-control" id="City" value="@Model.City" />
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="State" class="form-lablel"> State</label>
                            <input type="text" readonly class="form-control" id="State" value="@Model.State" />
                        </div>
                        <div class="col-12 col-md-2">
                            <label for="Zip" class="form-lablel"> Zip</label>
                            <input type="text" readonly class="form-control" id="ZipCode" value="@Model.ZipCode" />
                        </div>
                        <div class="col-6">
                            <label for=" Birthday" class="form-lablel"> Birthday</label>
                            <input type="text" readonly class="form-control" id="Birthday" value="@Model.Birthday" />
                        </div>
                        @foreach (var category in Model.Categories)
                        {
                            <div class="form-check form-switch form-check-inline">
                                <input type="checkbox" readonly class="form-check-input" name="CategoryList" value="@category.Id" />
                                <label class="form-check-label" for="CategoryList">@category.Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>



