@model AtlasAddressBook.Models.Contact
@using AtlasAddressBook.Services.Interfaces
@using AtlasAddressBook.Enums


@inject IImageService _imageService
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Model.FullName</h4>

<div class="glass-cf-style d-flex align-items-center  p-2">
    <form class="row" method="post" asp-controller="Contacts" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.UserId" />
        <div class="row g-3 mt-1 p-2">
            <!--col one img-->
            <div class="col-12 col-md-4">
                @if (!string.IsNullOrEmpty(Model.ImageType))
                {
                    <img class="contactList-image rounded-start  mt-2 ms-2" src="@_imageService.ConvertByteArrayToFile(Model.ImageData!, Model!.ImageType)" alt="contact image" />
                }
                else
                {
                    <img class="contactList-image rounded-start mt-2 ms-2" style="width:315px;height:315px;" src="/img/GirlOne_4x.png" alt="User Avatar Default Image">
                }

                <input asp-for="ImageFile" class="form-control mt-2" accept=".png,.jpg,.jpeg,.gif"
                       onchange="document.getElementById('contactImage').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
                @if (!string.IsNullOrEmpty(Model.ImageType))
                {
                    <img class="contactList-image rounded-start mt-2 ms-2" src="@_imageService.ConvertByteArrayToFile(Model.ImageData!, Model!.ImageType)" alt="contact image">
                }
                else
                {
                    <img class="contactList-image rounded-start mt-2 ms-2" style="width:60px;height:60px;" src="/img/GirlOne_4x.png" alt="User Avatar Default Image">
                }
            </div>

            <div class="col-12 col-md-8">
                <!--creates row inside of the column-->
                <div class="row mb-1">
                    <!--Column pairs--name "row"-->
                    <div class="col-12 col-md-6 form-group">
                        <label for="FirstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="FirstName" Value="@Model.FirstName" required />
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="LastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="LastName" Value="@Model.LastName" required />
                    </div>
                    <!--Column pairs (email & phone) creates "row"-->
                    <div class="col-12 col-md-6 form-group">
                        <label for="Email" class="form-label mt-1">Email</label>
                        <input type="email" class="form-control" id="Email" Value="@Model.EmailAddress" required />
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="Phone" class="form-label mt-1">Phone</label>
                        <input type="tel" class="form-control" id="Phone" Value="@Model.PhoneNumber" />
                    </div>
                    <!--one div spans "row"-->
                    <div class="col-12 form-group">
                        <label for="Address1" class="form-label mt-1">Address</label>
                        <input type="text" class="form-control" id="Address1" Value="@Model.Address1" />
                    </div>
                    <div class="col-12 form-group">
                        <label for="inputAddress2" class="form-label  mt-1">Address 2</label>
                        <input type="text" class="form-control " id="Address 2" value="@Model.Address2" />
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="inputCity" class="form-label mt-1">City</label>
                        <input type="text" class="form-control" id="city" Value="@Model.City" required />
                    </div>
                    <!--STATES drop down-->
                    <div class="col-12 col-md-2 form-group">
                        <label asp-for="State" class="control-label mt-1">State</label>
                        <select asp-for="State" asp-items="@ViewBag.StatesList" Value="@Model.State" class="form-control"></select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-md-2 form-group">
                        <label for="City" class="form-label mt-1">Zip</label>
                        <input type="text" class="form-control" id="zip" Value="@Model.ZipCode" required />
                    </div>
                    <div class="col-12 col-md-2 form-group">
                        <label for="Birthday" class="form-label mt-1">Birthday</label>
                        <input type="date" class="form-control" id="Birthday" Value="@Model.Birthday" required />
                    </div>
                </div>
                <div class="col-12 form-group">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="form-check form-switch form-check-inline">
                            <input type="checkbox" readonly class="form-check-input" name="CategoryList" value="@category.Id" />
                            <label class="form-check-label" for="CategoryList">@category.Name</label>
                        </div>
                    }
                </div>
                <div class="col-12 d-flex justify-content-end p-2">
                    <input type="submit" asp-action="Edit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
