@model IEnumerable<AtlasAddressBook.Models.Contact>
@using AtlasAddressBook.Models
@using AtlasAddressBook.Services.Interfaces
@inject IImageService _imageService
    
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a class="glass-button" asp-controller="Contacts"  asp-action="Create">Create New</a>
</p>

 @foreach(var item in Model)
 {
    <div class="mb-3 glass-cf-style">
        <div class="row g-0">
            <div class="col-md-4">
                @if(! string.IsNullOrEmpty(item.ImageType))
                {
                <img src="@_imageService.ConvertByteArrayToFile(item.ImageData, item.ImageType)" class="contactList-image rounded-start mt-2 ms-2" alt="contact image">
                 }
                  else
                        {
                            <img class="contactList-image rounded-start mt-2 ms-2" style="width:60px;height:60px;" src="/img/avatar_icon.png" alt="User Avatar Default Image">
                        }
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => @item.FirstName) @Html.DisplayFor(modelItem => @item.LastName) </h5>
                    <div class="card-text">Email: @Html.DisplayFor(modelItem => @item.EmailAddress) </div>
                    <div class="card-text">Phone: @Html.DisplayFor(modelItem => @item.PhoneNumber) </div>        
                </div>
            </div>
                <div class="mb-2 ms-2">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi-pencil-fill" style="font-size: 1.5rem; color: white"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi-person-fill" style="font-size: 1.5rem; color: white"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi-trash-fill" style="font-size: 1.5rem; color: red"></i></a> 
                </div>
        </div>
    </div>

 }
           

       
           