@using AtlasAddressBook.Models
@using AtlasAddressBook.Services.Interfaces

@model IEnumerable<Contact>

@inject IImageService _imageService
    
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>

 @foreach(var contact in Model)
 {
    <div class="mb-3 glass-cf-style.darkGlass">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@_imageService.ConvertByteArrayToFile(contact.ImageData, contact.ImageType)" class="contactList-image rounded-start" alt="...">
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@contact.FirstName @contact.LastName</h5>
                    <p class="card-text">Email: @contact.EmailAddress</p>
                    <p class="card-text">Phone: @contact.PhoneNumber</p>        
                </div>
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@contact.Id"><i class="bi-pencil-fill" style="font-size: 1.5rem; color: white"></i>></a> |
        <a asp-action="Details" asp-route-id="@contact.Id"><i class="bi-person-fill" style="font-size: 1.5rem; color: white"></i></a> |
        <a asp-action="Delete" asp-route-id="@contact.Id"><i class="bi-trash-fill" style="font-size: 1.5rem; color: red"></i></a> 
    </div>
 }
           

       
           